<!DOCTYPE html>
<meta charset='utf8'/>
<title>What the Forbus?</title>
<link rel='stylesheet' type='text/css' href='/stylesheets/style.css'/>

<div class='grid-container lol-container'>
	
	<div class='grid-100'>
		<div class='prop-container'>
			<div class='prop first'>Tristin Forbus...</div>
			<div class='prop second'>Web Designer!</div>
			<div class='prop third'>Software Developer!</div>
		</div>
		<h1 id='title'>What the Forbus?</h1>
	</div>

	<div class='grid-100 grid-parent' style='overflow:hidden;'>
		<div class='grid-33 tablet-grid-33 external-container'>
			<span class='external-header'>See Code At</span>
			<a href='http://github.com/tforbus' class='external'>Github!</a>
		</div>

		<div class='grid-33 tablet-grid-33 external-container'>
			<span class='external-header'>See Designs At</span>
			<a href='http://behance.com/tristinforbus' class='external'>Behance!</a>
		</div>

		<div class='grid-33 tablet-grid-33 external-container'>
			<span class='external-header'>Bad Tweets At</span>
			<a href='http://twitter.com/whattheforbus' class='external'>Twitter!</a>
		</div>
	</div>

	<div class='grid-100'>
		<div id='footer'>
			<img src='/images/scream2.png' /><br/>
		</div>
	</div>
</div>