<!DOCTYPE html>
<html>
<head>
<title>What the Forbus? - YouTube Fixed Video Bookmarklet link</title>

<style>
body { 
	padding: 50px;
	background-color: #f5f5f5;
	color: #333;
	font-size: 16px;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.bookmarklet {
	border: 1px dashed #42310f;
	background-color: #ffe7b6;
	color: #5a4008;
	padding: 0.3em 0.6em;
	cursor: move;
}
</style>
</head>

<body>
<h1>YouTube Fixed Video Bookmarklet</h1>

<p>Drag the <a class='bookmarklet' href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='//raw.github.com/tforbus/youtube-fixed-video-bookmarklet/master/script.js';})();">YouTube Fixed Video Bookmarklet</a> into your bookmarks bar.</p>
<br/><br/>
see my <a href='https://github.com/tforbus/youtube-fixed-video-bookmarklet'>github</a> for more details about what it is and how it works
</p>

<h2>How to use this (a video tutorial)</h2>
<iframe width="420" height="315" src="//www.youtube.com/embed/S3U9QQcLB9Q" frameborder="0" allowfullscreen></iframe>
</body>
</html>